<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bikes</key>
	<array>
		<dict>
			<key>lat</key>
			<real>41.948542461852</real>
			<key>long</key>
			<real>-71.733548895355</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>41.9385081926132</real>
			<key>long</key>
			<real>-71.834177836915</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>41.9182940095103</real>
			<key>long</key>
			<real>-71.775273062735</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>41.8882540286828</real>
			<key>long</key>
			<real>-71.806017671764</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>41.8364769877254</real>
			<key>long</key>
			<real>-71.733767627449</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>41.9063444546927</real>
			<key>long</key>
			<real>-71.783709965112</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80626024082922</real>
			<key>long</key>
			<real>-122.4136820075615</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80615255744225</real>
			<key>long</key>
			<real>-122.4136400713165</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8068837827166</real>
			<key>long</key>
			<real>-122.4121661951538</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80668688680148</real>
			<key>long</key>
			<real>-122.4120873938083</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80685265297259</real>
			<key>long</key>
			<real>-122.4120923188642</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80615948253202</real>
			<key>long</key>
			<real>-122.4170286340418</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8062178578145</real>
			<key>long</key>
			<real>-122.4168004613514</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80624532854515</real>
			<key>long</key>
			<real>-122.4164984042039</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80623760240685</real>
			<key>long</key>
			<real>-122.4166494327776</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80619983015057</real>
			<key>long</key>
			<real>-122.4168982496473</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80609252256232</real>
			<key>long</key>
			<real>-122.4168797785579</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80613287021743</real>
			<key>long</key>
			<real>-122.4167124518851</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80627052229003</real>
			<key>long</key>
			<real>-122.4153672191353</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80616785295731</real>
			<key>long</key>
			<real>-122.4153425053765</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.8060928979888</real>
			<key>long</key>
			<real>-122.4153193860301</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80602361178843</real>
			<key>long</key>
			<real>-122.4153034416861</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80594865664469</real>
			<key>long</key>
			<real>-122.415284308444</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80540988172141</real>
			<key>long</key>
			<real>-122.4135836704417</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80416946948902</real>
			<key>long</key>
			<real>-122.4132381139256</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80396705786111</real>
			<key>long</key>
			<real>-122.4149213154167</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80522432679651</real>
			<key>long</key>
			<real>-122.415147420265</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80448614737674</real>
			<key>long</key>
			<real>-122.4150109041431</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80470187183157</real>
			<key>long</key>
			<real>-122.4134558998208</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80310850622715</real>
			<key>long</key>
			<real>-122.4113553868039</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80354670393616</real>
			<key>long</key>
			<real>-122.4114535077574</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80396298945187</real>
			<key>long</key>
			<real>-122.4115132336401</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80484931569606</real>
			<key>long</key>
			<real>-122.4116688407256</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80507178040946</real>
			<key>long</key>
			<real>-122.4105617800352</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80500099625516</real>
			<key>long</key>
			<real>-122.4107857518512</real>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80503866359715</real>
			<key>long</key>
			<real>-122.4101089303214</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>lat</key>
			<real>37.80482926013214</real>
			<key>long</key>
			<real>-122.4118889730247</real>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>region</key>
	<array>
		<real>37.80503154135481</real>
		<real>-122.4136329172193</real>
		<real>0.00978871051851371</real>
		<real>0.008167393319212124</real>
	</array>
</dict>
</plist>
